* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }

  html {
    scroll-behavior: smooth;
   }
  
  nav {
    height: 80px;
    background: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((80vw - 1600px) / 2);
  }

  
  .logo-image {
    width: 125px;
    padding: 0 2rem;
  }
  
  nav a {
    background-size:contain;
    background-repeat: no-repeat;
    text-decoration: none;
    color: #ffffff;
    padding: 0 2rem;
  }
  
  nav a:hover {
    color: #b5f9ff;
  }
  
  .hero {
    height: 3000px;
    background: #000000;
    color: #ffffff;
  }
  
  .hero-container {
    display: flex;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);
    background-image: url("background.png");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center; 
  }
  
  .column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;
    padding: 0rem 2rem;
  }
  
  .column-left h1 {
    margin-bottom: 1rem;
    font-size: 6rem;
    color: #ffffff;
    
  }

  .column-left i{
    margin-bottom: 2rem;
    font-size: 2rem;
    line-height: 1.5;
    padding: 1rem 2rem;
    color: #ffffff;

  }
  
  .column-left p {
    border-style: solid;
    border-color: #252525;
    border-width: 5px;
    border-radius: 20px;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #ffffff;
    background:#363636;
    padding: 2rem 2rem;
  }
  
  button {
    padding: 1rem 3rem;
    font-size: 1rem;
    color: #89c6c5;
    background: #000;
    cursor: pointer;
    border-style: solid;
    border-color: #252525;
    border-width: 5px;
    border-radius: 20px;
    
  }

  a, u{
    color: #ffffff;
    text-decoration: none;
  }
  
  button:hover {
    background: #252525;
  }

  a, u:hover{
    color: #ffffff;
    text-decoration: none;
  }

  #bottom{
    height: 600px;
    width: 300px;
}
  
  .column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
  }
  
  .hero-image {
    border-style: solid;
    border-color: #252525;
    background: #333333;
    border-width: 20px;
    border-radius: 100px;
    object-fit: cover;
    object-position: center center;
    width: 500px;
    height: 501px;
  }
  
  @media screen and (max-width: 314px) {
    .hero-container {
      grid-template-columns: 1fr;
    }
  }

  /* PROJECTS */

  .prtitle-container {
    display: flex;
    height: 120px;
    font-size: 4rem;
    padding: 1rem;
    background: #000000;
    color: #ffffff;
    justify-content: center;
  }

/* 1 */

.projects1-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60vh;
    font-size: 2rem;
    padding: 3rem calc((100vw - 1300px) / 2);
    background-image: url("officebg.jpg");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center; 
  }

  /* PIC */

  .column-left1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #ffffff;
    padding: 0rem 2rem;
    background-image: url("tdl.PNG");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center; 
  }

  /* TEXT */

  .column-right1 {
    display: grid;
    justify-content: center;
    padding: 0rem 2rem;
  }

  .column-right1 h1 {
    margin-bottom: 1rem;
    font-size: 4rem;
    color: #000000;
    display: inline-block;
    align-self: flex-end;
  }

  .column-right1 p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #000000;
    padding: 0rem 2rem;
    display: flex;
    align-self: flex-start;
  }



  .projects2-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60vh;
    font-size: 2rem;
    padding: 3rem calc((100vw - 1300px) / 2);
    background-image: url("portfolioweb.jpg");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center; 
  }

  /* PIC */

  .column-right2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #ffffff;
    padding: 0rem 2rem;
    background-image: url("https://i.pinimg.com/736x/f9/85/32/f985322a2bcc245fe0894353aad35689.jpg");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center; 
  }

  /* TEXT */

  .column-left2 {
    display: grid;
    justify-content: center;
    padding: 0rem 2rem;
  }

  .column-left2 h1 {
    margin-bottom: 1rem;
    font-size: 4rem;
    color: #000000;
    display: inline-block;
    align-self: flex-end;
  }

  .column-left2 p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #000000;
    padding: 0rem 2rem;
    display: flex;
    align-self: flex-start;
  }



  .projects3-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60vh;
    font-size: 2rem;
    padding: 3rem calc((100vw - 1300px) / 2);
    background-image: url("rg.jpg");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center; 
  }

  /* PIC */

  .column-left3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #ffffff;
    padding: 0rem 2rem;
    background-image: url("om.PNG");
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center; 
  }

  /* TEXT */

  .column-right3 {
    display: grid;
    justify-content: center;
    padding: 0rem 2rem;
  }

  .column-right3 h1 {
    margin-bottom: 1rem;
    font-size: 4rem;
    color: #ffffff;
    display: inline-block;
    align-self: flex-end;
  }

  .column-right3 p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #ffffff;
    padding: 0rem 2rem;
    display: flex;
    align-self: flex-start;
  }

     /* HOMEWORK */

     .hwtitle-container {
      display: flex;
      height: 120px;
      font-size: 4rem;
      padding: 1rem;
      background: #000000;
      color: #ffffff;
      justify-content: center;
    }

    .homework-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 60vh;
      font-size: 2rem;
      padding: 3rem calc((100vw - 1300px) / 2);
      background: #333333;
    }

    .column-left4  {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      color: #ffffff;
      padding: 0rem 2rem;
    }

    .files {
      margin-bottom: 1rem;
      font-size: 5rem;
      color: #000000;
      display: inline-block;
      align-self: flex-end;
      border-style: solid;
      border-color: #808080;
      border-width: 5px;
      border-radius: 20px;
    }

    .column-right4  {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      color: #ffffff;
      padding: 0rem 2rem;
    }